<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>

    <typeHandlers>
        <!--<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"-->
        <!--javaType="tk.mybatis.simple.type.Enabled" />-->
        <typeHandler handler="tk.mybatis.simple.type.EnabledTypeHandler"
                     javaType="tk.mybatis.simple.type.Enabled"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://111.231.102.36:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="ms@102.36"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/UserMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/RoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/PrivilegeMapper.xml"/>
    </mappers>

</configuration>
